<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
</head>
<body>
    <h1>Product Details</h1>
    <p>Name: <%= product.name %></p>
    <p>Category: <%= product.category %></p>
    <p>Price: <%= product.price %></p>
    <p>Stock Quantity: <%= product.stockQuantity %></p>
    <p>Additional Info: <%= product.additionalInfo %></p>
    <p>Store ID: <%= product.storeID %></p>
    <p>Location: <%= product.location %></p>
    <p>Supplier ID: <%= product.supplierID %></p>
</body>
</html>
